@font-face {
    font-family: Carter;
    src: url('./assets/fonts/CarterOne-Regular.ttf');
}
@font-face {
    font-family: Acme;
    src: url('./assets/fonts/Acme-Regular.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}
* {
    margin: 0;
    font-family: Acme;
}
p{
    font-family: Montserrat;
    font-size: 14px;
}
a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
}
a:hover {
    position: relative;
    color: gold;
}
a:not(.input)::after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.15em;
	background-color: gold;
	opacity: 0;
	transition: opacity 400ms;
    margin-top: 1em;
}
a:not(.input):hover:after { 
    opacity: 1;
}
.card {
    background-color: white;
    margin: 3px;
    padding: 8px;
    min-height: 150px;
}
.section-header-title {
    font-size: 32px;
    padding: 12px;
}

.navBar {
    display: flex;
    position: relative;
    background-color: black;
    padding: 15px;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.navBar .title, .footer .title {
    font-family: Carter cursive;
    font-size: 29px;
    color: white;
}
nav {
    margin-left: 15px;
}
nav>a {
    text-decoration: none;
    margin-right: 12px;
    color: white;
    font-weight: bold;
}
.Menu {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    background-color: black;
    visibility: hidden;
    transition-property: visibility, opacity;
    transition-delay: 450ms;
    opacity: 0;
    transition-duration: 500ms;
}
table a {
    color: white;
    display: inline-block;
    width: 100%;
}
table td {
    width: 50%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
    text-align: center;
}
.menu-button {
    display: none;
    color: white;
}

.first-section {
    display: flex;
    flex-direction: column;
    background-image:   linear-gradient(
      rgba(255, 255, 255,0), 
      rgba(0, 0, 0, 0.6)
    ), url('./assets/images/louvre-museum-paris-france.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: white;
    padding-left: 12px;
    font-size: 35px;
}
.first-section .input {
    border-width: 2px;
    border: 2px solid #fff;
    color: white;
    background-color: transparent;
    font-size: 20px;
    margin-top: 5px;
    padding: 8px;
}
.first-section .input:hover {
    color: black;
    background-color: white;
}

.event-section .grid-container {
    display: grid;
    margin: 8px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 480px;
    gap: 18px;
    justify-content: center;
}
.event-section .gridItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(240,240,240);
    overflow: hidden;
    transition-property: transform;
    transition-duration: 500ms;
}
.event-section .gridItem:hover{
    background-color: black;
    color: white;
    transform: scale(1.02,1.02);
}
.event-section h3 {
    font-size: 26px;
    padding: 12px;
    height: 20%;
}
.event-section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}
.event-section .image {
    padding: 0;
    width: 100%;
    height: auto;
}
.event-section .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    height: 30%;
}
.book-now-button {
    border-radius: 35px;
    height: 70px;
    width: 70px;
    color: white;
    border-width: 0px;
    transition-property: transform;
    transition-duration: 400ms;
}
.book-now-button:active {
    transform: scale(0.9,0.9);
}
.gridItem .book-now-button:hover {
    background-color: tomato;
}
.event1 .special-words {
    color: purple;
}
.event1 .book-now-button {
    background-color: purple;
}
.event2 .special-words {
    color: green;
}
.event2 .book-now-button {
    background-color: green;
}
.event3 .special-words {
    color: blue;
}
.event3 .book-now-button {
    background-color: blue;
}

.gallery-section {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 25px 0px ;
}
.gallery-section  .gallery-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 5px;
}
.gallery-section .gallery-item { 
    height: 300px;
    background-color: red;
    background-position: center;
    background-size: cover;
}
.gallery-section #item1 {
    background-color: blue;
    background-image: url('https://images.unsplash.com/photo-1603966187872-3a0f1432057e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    grid-area: 1 / 1 / 2 / 3;
}
.gallery-section #item2 {
    background-color: cadetblue;
    background-image: url('https://images.unsplash.com/photo-1593180318097-80afc542cfff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=872&q=80');
    height: 600px;
    grid-area: 1 / 3 / 3 / 4;
}
.gallery-section #item3 {
    background-color: darkblue;
    background-image: url('https://images.unsplash.com/photo-1545990569-98afd2e72852?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    grid-area: 1 / 4 / 2 / 5;
}
.gallery-section #item4 {
    background-color: rebeccapurple;
    background-image: url('https://images.unsplash.com/photo-1531777319985-9dca28eeae64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2038&q=80');
}
.gallery-section #item5 {
    background-color: darkgoldenrod;
    grid-area: 2 / 2 / 4 / 3;
    background-image: linear-gradient( rgba(255, 255, 255,0), 
      rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1581010864434-6ff1a9a2867e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80');
    height: 600px;
}
.gallery-section #item6 {
    background-color: aqua;
    background-image:  url('https://images.unsplash.com/photo-1564586453511-3ff0c573ff4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}
.gallery-section #item7 {
    background-image: linear-gradient( rgba(255, 255, 255,0.2), 
      rgba(0, 0, 0, 0.8)), url('https://images.unsplash.com/photo-1562754193-ba39a22c110b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2040&q=80');
}
.gallery-section #item8 {
background-image: linear-gradient( rgba(255, 255, 255,0), 
      rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1566998398519-7f10a1fa3af4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
 background-color: cornflowerblue;
 grid-column: 3 / 5;
}

.email-section {
    background-image: url(./assets/images/louvre.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-section .card {
    display: flex;
    padding: 0px;
    height: 150px;
    width: 60%;
    background-color: gold;
}
.email-section .card .title {
    background-color: rgb(240,240,240);
    font-size: 32px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex: 0.4;
    align-items: center;
    justify-content: center;
}
.email-section .card .content {
    padding: 10px;
    font-size: 16px;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selected-arts-section .arts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.selected-arts-section .art-item{
    width:  80%;
    background-color: rgb(240,240,240);
    margin-bottom: 15px;
    max-height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
.selected-arts-section .details{
    padding: 10px;
    height: '100%';
}
.selected-arts-section .preview{
    flex: 0.4;
    max-width: 300px;
    min-width: 200px;
}

.footer{
    background-color: black;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    nav{
        display: none;
    }
    .menu-button {
        display: inline;
    }
    .menu-button:hover + .Menu {
       visibility: visible;
       opacity: 1;
    }
    .Menu:hover {
        visibility: visible;
        opacity: 1;
    }
    .Menu a:hover::after {
        opacity: 0;
    }
    .section-header-title {
        font-size: 26px;
    }

    .main-title{
        font-size: 30px;
    } 
    .first-section .input {
        font-size: 15px;
    }
    
    .email-section .card {
        width: 90%;
    }

    .gallery-container #item2 {
        grid-row: 2 / 4;
        grid-column: 3 /5;
    }
    .gallery-container #item3{
        grid-column: 3/5;
    }
    .gallery-container #item4 {
        grid-column: 1 / 3;
    }
    .gallery-container #item6 {
        grid-column: 1/ 5;
        grid-row: 4 / 5;
    }
    .gallery-container #item5{
        display: none;
    }
    .gallery-container #item7 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .gallery-container #item8 {
        grid-column: 1 / 5 ;
    }

    .selected-arts-section .art-item {
        flex-direction: column;
        max-height: 800px;
    }
    .selected-arts-section .preview {
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
     p {
        font-size: 12px;
    }
    
}
@media screen and (max-width: 992px) {

   .event-section .grid-container {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
   }
   .event-section .grid-item  {
       display: flex;
       width: 60%;
   }
   .event-section .image {
       order: 0;
       width: 100%;
       max-height: 400px;
   }
   .event-section h3 {
       order: 1;
   }
   .event-section .details{
       order: 2;
   }

}